ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(177, 34, 34);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
  }
  .m-t{
      margin-top:-45px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(157, 175, 76);
  }
  .f-r{float: right;}

  .t-w{width:500px;height: 35px;}
  .t-b{background: #111;color: cornsilk;border:none;padding: 10px 20px;height: 41px;}


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .f-l{
      float: left;
  }
  .container {
    padding: 2px 16px;
  }
  